.doctor-card {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.doctor-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.btn {
    background-color: #1D5698;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #3564a0;
}

.doctors {
    padding: 20px;
}
